
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
flask_cache_bin/
MANIFEST
.vscode/
.ruff_cache 
.venv/
.poetry/
logs/
log/
.env
.flaskenv
instance/
.pytest_cache/
.htmlcov/


*.db
*.sqlite3