{% extends "base.html" %}


{% block content %}

{% from 'macros/btn.html' import ui_element with context %}
{% from 'macros/header_macros.html' import render_header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/plans_dash.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/budget_css/b_dash.css') }}">

<div class="container py-4">

    {{ render_header(
                    title="Trip Planner",
                    subtitle="Ամենորյա պլաններ, հիշատակներ ձեր արձակուրդների համար",
                    title_icon="pencil",
                    accent_icon="pencil"
      ) }}
        
  <div id="spinner" class="htmx-indicator text-center py-3">
    <div class="spinner-border spinner-border-sm" style="color:var(--primary-color)" role="status"></div>
  </div>

  <div id="section-content"
       class="animate__animated animate__fadeIn"
       _ ="on htmx:afterSwap 
           remove .animate__fadeIn 
           settle
           add .animate__fadeIn">
    {% include "plans_dash/_plans_section.html" %}
  </div>

</div>

{% endblock %}