<div class="modal fade" id="addExpenseModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-transparent border-0">
      
      <div id="add-expense-form"
           class="card border-0 shadow-sm rounded-4 mb-4 add-limit-form-card animate__animated animate__fadeIn">

        <div class="card-body p-4">
          <h6 class="fw-bold mb-4">Ավելացնել նոր ծախս</h6>
          <div id="error-container" class="mb-3"></div>

          <form id="expense-form-element">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <div class="mb-3">
              <label class="form-label">Նկարագիր</label>
              <input type="text" name="description" class="form-control" required>
            </div>

            <div class="mb-3">
              <label class="form-label">Գումար</label>
              <input type="number" step="0.01" name="amount" class="form-control" required>
            </div>

            <div class="mb-4">
              <label class="form-label">Կատեգորիա</label>
              <select name="category_id" class="form-select" required>
                {% for category in categories %}
                  <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="d-flex gap-2">
              {{ ui_element(
                text="Ավելացնել ծախս",
                variant="success",
                type="button",
                hx_post=url_for('expenses.add_expense', slug=budget.slug),
                hx_target="#expenses_innerPart",
                hx_swap="outerHTML",
                hx_include="#expense-form-element",
                extra_classes="btn-sm rounded-pill px-4 fw-bold",
                hyperscript="on htmx:afterOnLoad 
                 if event.detail.xhr.status == 200 
                    call #expense-form-element.reset()
                    trigger closeModal
                 end"
              ) }}

              {{ ui_element(
                text="Չեղարկել",
                variant="outline-secondary",
                type="button",
                extra_classes="btn-sm rounded-pill px-4",
                hyperscript="on click trigger closeModal"
              ) }}
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>