
{% set caps = [
  (
    'wallet', 
    'Բյուջեի հետևում', 
    'Սահմանեք բյուջեներ ըստ ուղևորության կամ կատեգորիայի, գրանցեք ծախսերը և հստակ տեսեք, թե ուր է գնում ձեր գումարը յուրաքանչյուր վայրում:'
  ),
  (
    'dollar-sign', 
    'Արտարժույթի փոխարժեք', 
    'Փոխարկեք արժույթները թարմացված փոխարժեքներով: Այլևս կարիք չկա մտքում հաշվարկներ անել դրամարկղի մոտ:'
  ),
  (
    'map', 
    'Առանց վիզայի քարտեզ', 
    'Անմիջապես տեսեք, թե որ երկրներ կարող եք մուտք գործել առանց վիզայի՝ հիմնվելով ձեր անձնագրի վրա. ինտերակտիվ է և միշտ արդիական:'
  ),
  (
    'calendar', 
    'Պատմության օրացույց', 
    'Այն ամենի ամբողջական տեսողական պատմությունը, թե որտեղ եք եղել՝ կապված ամսաթվերի հետ, որպեսզի երբեք չկորցնեք ձեր ճանապարհորդության ժամանակացույցը:'
  ),
  (
    'map-pin', 
    'Վայրերի վահանակ', 
    'Պահպանեք և կազմակերպեք այն վայրերը, որոնք ցանկանում եք այցելել, այցելում եք կամ արդեն բացահայտել եք՝ նշումներով և համատեքստով:'
  ),
  (
    'album', 
    'Պլանավորման վահանակ', 
    'Կառուցեք մանրամասն ճանապարհորդական պլաններ՝ փուլերով, ամսաթվերով և առաջադրանքներով: Մեկ տեղ՝ թռիչքներից մինչև կացարան ամեն ինչի համար:'
  )
] %}

{% set projects = [
  (
    'Բյուջե', 
    'wallet', 
    'Բյուջեի վահանակ', 
    'Հետևեք ծախսերին ուղևորությունների և կատեգորիաների միջև: Մեկ հայացքով տեսեք օրական ծախսերի տեմպը, մնացորդը և շեղումը պլանից:', 
    ['ծախսեր', 'կատեգորիաներ', 'բազմակողմանի ուղևորություն']
  ),
  (
    'Նավարկություն', 
    'map', 
    'Առանց վիզայի քարտեզ', 
    'Ինտերակտիվ աշխարհի քարտեզ, որը ցույց է տալիս առանց վիզայի ուղղությունները՝ ըստ անձնագրի: Ակնթարթորեն ֆիլտրեք, մեծացրեք և պլանավորեք մուտքի պահանջները:', 
    ['180+ երկրներ', 'անձնագրի հիման վրա', 'ինտերակտիվ']
  ),
  (
    'Պլանավորում', 
    'album', 
    'Պլանավորման վահանակ', 
    'Ձեր ճանապարհորդության պլանավորման հիմնական կենտրոնը: Փուլեր, առաջադրանքներ, ամսաթվեր և կապակցված գործիքներ՝ բոլորը մեկ կառուցվածքային տեսքում: Գաղափարից մինչև երթուղի:', 
    ['փուլեր', 'առաջադրանքներ', 'օրացույցի սինխրոնիզացում']
  )
] %}

{% set steps = [
  (
    '01', 
    'Ստեղծել հաշիվ', 
    'Գրանցվեք անվճար: Առանց բանկային քարտի, առանց երկար հարցումների: Դուք ներսում կլինեք մեկ րոպեից էլ պակաս ժամանակում:'
  ),
  (
    '02', 
    'Կարգավորել ձեր առաջին պլանը', 
    'Բացեք Պլանավորման վահանակը և ստեղծեք ուղևորություն: Ավելացրեք փուլեր, ամսաթվեր և ուղղություններ, երբ ձեր երթուղին կազմավորվի:'
  ),
  (
    '03', 
    'Հետևել ձեր բյուջեին', 
    'Կապեք բյուջեն ձեր ուղևորության հետ: Գրանցեք ծախսերը ընթացքում կամ ավելացրեք դրանք մեծ քանակով: Անմիջապես տեսեք ընթացիկ հանրագումարներն ու շեղումները:'
  ),
  (
    '04', 
    'Ստուգել վիզաները և արժույթը', 
    'Օգտագործեք Առանց վիզայի քարտեզը՝ մուտքի պահանջները հաստատելու համար, այնուհետև անցեք Արտարժույթի փոխանակմանը՝ նախքան ամրագրելը թարմացված փոխարժեքները տեսնելու համար:'
  ),
  (
    '05', 
    'Վերանայել ձեր պատմությունը', 
    'Ուղևորությունից հետո ձեր Պատմության օրացույցը պահպանում է ամեն ինչ: Ամսաթվեր, վայրեր, ծախսեր՝ մշտական արխիվ այն ամենի, թե որտեղ եք եղել:'
  )
] %}

{% set nomad_features = [
  (
    'globe', 
    'Նախատեսված է նոմադների (թափառաշրջիկների) համար', 
    'Կառուցված է իրական բազմաթիվ երկրների և տարբեր արժույթներով ճանապարհորդությունների շուրջ, այլ ոչ թե մեկ քաղաք կարճատև այցելությունների համար:'
  ),
  (
    'check', 
    'Արդյունքի վրա կենտրոնացված', 
    'Յուրաքանչյուր գործիք պատասխանում է իրական հարցի. Կարո՞ղ եմ ինձ թույլ տալ սա: Վիզա անհրաժե՞շտ է: Ո՞ւր էի գնացել անցյալ տարի:'
  ),
  (
    'zap', 
    'Արագ և թեթև', 
    'Չկան ծանր վահանակներ կամ ծանրաբեռնված գործիքներ: Գործիքները բեռնվում են արագ և աշխատում են բջջայինով՝ առանց որևէ խնդրի:'
  ),
  (
    'layers', 
    'Ամեն ինչ կապակցված է', 
    'Բյուջեն, պլանները, վայրերը և պատմությունը փոխկապակցված են: Մեկ փոփոխությունը թարմացնում է այն ամենը, ինչը կախված է դրանից:'
  )
] %}


{% set places = [
  'Եվրոպա', 'Հարավարևելյան Ասիա', 'Կենտրոնական Ասիա', 'Մերձավոր Արևելք',
  'Լատինական Ամերիկա', 'Արևելյան Աֆրիկա', 'Հյուսիսային Ամերիկա', 'Օվկիանիա',
  'Կովկաս', 'Բալկաններ', 'Հարավային Ասիա', 'Կարիբյան կղզիներ'
] %}