{% extends "base.html" %}

{% block title %}History Calendar{% endblock %}

{% block content %}

{% from 'macros/header_macros.html' import render_header %}
{% from 'macros/btn.html' import ui_element with context %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/budget_css/b_dash.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">

<div class="container mt-5">
     {{ render_header(
        title="Գործությունների օրացույց",
        subtitle="Դիտեք ձեր ճանապարհորդական պատմությունը օրացույցով և վերլուծեք ձեր նախորդ ուղևորությունները։",
        title_icon="history",
        accent_icon="history"
    ) }}

    <div id="calendar-wrapper" class="shadow-sm rounded">
        {% include 'history/calendar_grid.html' %}
    </div>
</div>

<div class="modal fade" id="dayDetailModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content" id="day-detail-content">
            <div class="p-5 text-center">
                <div class="spinner-border text-primary" role="status"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}